fastapi                   # FastAPI framework
uvicorn                   # Run FastAPI server
streamlit
python-multipart          # For file upload handling
python-dotenv             # For handling environment variables

chromadb                  # Vector DB 

sentence-transformers==5.5.0     # Embedding model
# torch
transformers==5.8.1

google-generativeai       # Gemini API

unstructured              # PDF extraction 
unstructured_inference
unstructured-pytesseract
pytesseract               # Optional but commonly required by unstructured
pdf2image
pypdf
pillow                    # PDF dependencies

python-docx
python-pptx
openpyxl

requests

langchain==0.1.20
langchain-community==0.0.38
langchain-text-splitters==0.0.2

pi_heif